body {
  width: 100%;
  height: 100%;
  margin: 0;
}
 h1{
  text-align: center;
}

#my-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
figcaption{
  text-align: center;
  font-size: small;
}
nav{
  text-align: center;
}
nav > a{
  color: white;
  background: black;
  padding-left: 10px;
  padding-right: 10px;
  
}

p.paragraph{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

#details > div{
  float: left;
  background: red;
  padding-left: 91px;
  padding-right: 91px;
}